/*/////////////////////////////////////////////////////////////////////*/
/*///////////Logs Section///////////*/

#total-daily-dose {
    background: rgba(125, 0, 125, 0.2);
    border-radius: 10px;
    min-width: 600px;
    width: 50%;
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 5px;
}
#log-entries {
    width: 100%;
}
.log-div {
    width: 95%;
    text-align: left;
    margin: 10px auto;
    font-size: .85rem;
    background: rgba(90, 90, 90, .2);
    border-radius: 5px;
    padding: 5px;
}

.log-col {
    display: inline-block;
    vertical-align: top;
}

.type {
    width: 16%;

}

.readings {
    width: 39%;
    vertical-align: top;
}

.readings span {
    width: 100%;
    display: block;
    vertical-align: top;
}

.date-time {
    width: 39%;
    vertical-align: top;
    text-align: left;
}

.date-time span {
    width: 100%;
    display: block;
    vertical-align: top;
}

#log-sort-options span, p{
    display: inline-block;
}

#log-sort-options span:hover{
    cursor: pointer;
    color: aquamarine;
}

#log-options span, p {
    display: inline-block;
}

#log-options span:hover {
    cursor: pointer;
    color: aquamarine;
}
