*{
    box-sizing: border-box;
}

/*/////////////////////////////////////////////////////////////////////*/
/*///////////User Dashboard///////////*/

#user-dashboard {
    min-height: 55vh;
    background-color: rgba(255, 255, 255, 0.2);
    width: 100%;
    font-size: 0;
    color: white;
}
#user-dashboard h3 {
    font-size: 1.5rem;
    line-height: 2.5rem;
    padding-top: 1.5rem;
}
#current-user {
    line-height: 2rem;
    margin-bottom: 30px;

}
#iob-display {
/*    background-color: rgba(255, 255, 255, 0.3);*/
    width: 100%;
    padding: 10px;
    margin: 10px auto 0;
}

#iob-display h4, span {
    /*    display: block;*/
    font-size: 1.2rem;
}

#bolus-trigger {
/*    background-color:#00c08b;*/
/*    background-color:#F896D8;*/
}#bg-trigger {
/*    background-color:#ea5080;*/
/*    background-color:#6A041D;*/
}#basal-trigger {
/*    background-color:#53bfe2;*/
/*    background-color:#57CDD9;*/
}#a1c-trigger {
/*    background-color:#f8c54d;*/
    margin-bottom: 40px;
/*    background-color:#FCD0B1;*/
}

/*
.row-1 {
    width: 100%;

}.row-2 {
    width: 100%;
    margin-bottom: 30px;
}
*/
.lower-dash-buttons {
    width: 100%;
    max-width: 368px;
    margin: 0 auto;
    border-top: 3px rgba(255, 255, 255, .4) solid;
}
.dash-2 {
    width: 43%;
    min-width: 135px;
    height: 50px;
    list-style: none;
    box-shadow: 0 0 10px rgba(100, 100, 100, 0.2) inset, 1px 1px 1px #CCC;
    display: inline-block;
    line-height: 1;
    margin: 35px 2.5%;
    border-radius: 3px;
    vertical-align: top;
/*    background-color: #bb54c4;*/
    background-color: #DBC2CF;
    font-weight: 600;
    font-size: 1.5rem;
    position: relative;
}
.button-decoration {

}
#bolus-htmlForm {
    max-width: 900px;
    padding: 0;
}
#bolus-htmlForm fieldset {
    margin: 0;
    padding: 0;
}
#bolus-htmlForm input, select {
    margin: 0 auto;
    width: 100%;
}

#bolus-section, #dateTime-section {
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 5%;
    padding-right: 5%;
    margin: 0 auto;
    padding-bottom: 35px;
    border-bottom: grey solid 1px;
}
#bolus-section {
    padding-top: 1%;
}

.half-div {
    width: 50%;
    display: inline-block;
}
.half-div #bolus-carbs {
    width: 99%;
    margin-left: 1%;
}
.half-div #bolus-units {
    width: 99%;
    margin-right: 1%;
}
.half-div #bolus-time {
    width: 99%;
    margin-left: 1%;
}
.half-div #bolus-date {
    width: 99%;
    margin-right: 1%;
}
.insulin-amount input {
    
}
#suggested-bolus-section {
    padding-top: 15%;
    padding-bottom: 15%;
    padding-left: 5%;
    padding-right: 5%;
    margin: 0 auto;
    padding-top: 25px;
    padding-bottom: 30px;
    /* background: rgba(62, 192, 173, 0.205); */
    /* background: linear-gradient(rgba(67, 197, 171), rgba(0, 131, 176)); */
    border-radius: 5px;
}
#iob-info p {
    text-align: left;
    padding-left: 2%;
}

#iob-info p::after {
    margin-bottom: 1rem;
}
#iob-info  {
    font-size: 1.3rem;
    background-color: rgba(255,255,255, .9);
    color: black;
    width: 85%;
    margin: 0 auto;
    padding: 2%;
}
#user-dashboard button {
    color: #FFFEFF;
}

#user-dashboard button:hover {
    color: navy;
}
#dashboard-buttons {
    width: 100%;
    margin: 45px auto 0;
}

.dash-4 {
    background-color: #3E9DC0;
    margin-bottom: 10px;
    width: 43%;
    max-width: 135px;
    height: 90px;
    margin: 0 auto;
    box-shadow: 0 0 10px rgba(100, 100, 100, 0.2) inset, 1px 1px 1px #CCC;
    display: inline-block;
    margin: 5px 2.5% 10px;
    border-radius: 3px;
    vertical-align: top;
    font-weight: 600;
    font-size: 1.5rem;
    position: relative;
}
.dash-4:hover {
    background-color: azure;
    color: navy;
}

.info-box {
    visibility: hidden;
    width: 200%;
    font-size: 1.4rem;
    background-color: rgba(255, 255, 255, 0.9);
    color: navy;
    text-align: center;
    padding: 3%;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
}

.dash-button .info-box {
    bottom: 105%;
    left: 25%;
    margin-left: -100px;
}

#bolus-trigger:hover #bolus {
    visibility: visible;
}
#bg-trigger:hover #bg {
    visibility: visible;
}
#basal-trigger:hover #basal {
    visibility: visible;
}
#a1c-trigger:hover #a1c {
    visibility: visible;
}
#settings-trigger:hover #settings {
    visibility: visible;
}

#bolus-info {
    width: 95%;
    color: navy;

}