@import url('https://fonts.googleapis.com/css?family=Abril+Fatface');

*{
    box-sizing: border-box;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


/*Google Fonts*/
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Fjalla+One|PT+Serif|Ubuntu+Condensed');
/*
*{
font-size: 0;
}
*/
/*Main Body styling*/
html {
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: inherit;
}
body {
    /*    font-family: 'Roboto', sans-serif;*/
    text-align: center;
    color: #3a3a3a;
    background-color: #fafafa;
    /*    font-family: "colfax-web",sans-serif;*/
    font-family: 'PT Serif', sans-serif;
    font-size: 22px;
    background: linear-gradient(#43C6AC, #0083B0);
    min-height: 100vh;
    /*        linear-gradient(-90deg, #46B2A2, #46B27D); linear-gradient(#D3D0D6, #B3ADB3)*/

}
button {
    font-size: 1rem;
}
/*/////////////////////////////////////////////////////////////////////*/
/*///////////Forms Section///////////*/
form {
    margin: 30px auto;
    max-width: 600px;
    width: 95%;
    padding: 0 1rem;
    background-color: #fff;
    border-radius: 8px;
}

fieldset {
    border-radius: 10px;
    border: none;
}
legend {
    line-height: 3.5rem;
}

input {
    margin: 10px;
    font-family: 'PT Serif', sans-serif;
}
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAAJCAYAAAA/33wPAAAAvklEQVQoFY2QMQqEMBBFv7ERa/EMXkGw11K8QbDXzuN4BHv7QO6ifUgj7v4UAdlVM8Uwf+b9YZJISnlqrfEUZVlinucnBGKaJgghbiHOyLyFKIoCbdvecpyReYvo/Ma2bajrGtbaC58kCdZ1RZ7nl/4/4d5EsO/7nzl7IUtodBexMMagaRrs+06JLMvcNWmaOv2W/C/TMAyD58dxROgSmvxFFMdxoOs6lliWBXEcuzokXRbRoJRyvqqqQvye+QDMDz1D6yuj9wAAAABJRU5ErkJggg==) 100% no-repeat;
    line-height: 1;
}

header {
    margin: 30px 0px;
    color: white;
}

[type=color],
[type=date],
[type=datetime],
[type=datetime-local],
[type=email],
[type=month],
[type=number],
[type=password],
[type=search],
[type=tel],
[type=text],
[type=url],
[type=week],
[type=time],
select,
textarea {
    display: block;
    padding: .5rem;
    background: transparent;
    vertical-align: middle;
    width: 100%;
    max-width: 100%;
    border: 1px solid #cdcdcd;
    border-radius: 4px;
    font-size: .95rem;
}

label {
    display: block;
    margin: .5rem 0;
    font-size: 1.2rem;
}

button {
    font-family: 'PT Serif', sans-serif;
}
button:hover {
    cursor: pointer;
    background-color: azure;
    color: black;
}
.submit-button {
    background-color:#53bfe2; /*#2884a2*/
    color: whitesmoke;
    box-shadow: 0 0 10px rgba(100, 100, 100, 0.2) inset,1px 1px 1px #CCC;
    line-height: 1;
    margin: 1px;
    border-radius: 3px;
    padding: 5px;
}

#change-form-signup, #change-form-login {

}
#change-form-signup:hover, #change-form-login:hover {
    color: #53bfe2;
    cursor: pointer;
}

h1 {
    font-size: 2.6em;
    margin: 0.67em 0;
    line-height: 1.5rem;
}
h4 {
    font-size: 1.1rem;
}
/*/////////////////////////////////////////////////////////////////////*/
/* ul {
    width: 50%;
    margin: 0 auto;
    text-align: center;
    border: 1px lightskyblue solid;
    list-style: none;
    padding: 0;
} */
.demo-account {
    width: 95%;
    max-width: 600px;
    margin: 10px auto;
    text-align: center;
    border: 1px solid skyblue;
    margin: 30px auto;
    color: white;
}
.demo-info  {
    text-align: left;
    width: 95%;
    margin: 0 auto;
    font-size: .95rem;
    line-height: 2.5rem;
}
.demo-info p {
    margin-top: 8px;
    margin-bottom: 8px;
}
/*
.demo-account p {
margin-left: 2.5%;
}
*/
.demo-account h6 {
    font-size: 1.2rem;
    margin: 30px auto 10px;
}

#medical-disclaimer {
    margin: 0 auto 30px;
    width: 90%;
    padding: 3%;
    padding-top: 0;
    text-align: left;
    min-height: 80vh;
    font-size: 1.6rem;
    color: white;
    /* line-height: 3rem; */
}

#medical-disclaimer h2 {
    text-align: center;
}

#medical-disclaimer button {
    display: block;
    margin: 0 auto;
}

#disclaimer-wrapper {
    color: black;
    width: 100%;
    background-color:  rgba(255,255,255);
    border-radius: 8px;
    padding: 3%;
    font-size: 1.2rem;
}

/*/////////////////////////////////////////////////////////////////////*/
/*///////////Logs Section///////////*/

#total-daily-dose {
    background: rgba(125, 0, 125, 0.2);
    border-radius: 10px;
    min-width: 600px;
    width: 50%;
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 5px;
}
#log-entries {
    width: 100%;
}
.log-div {
    width: 95%;
    text-align: left;
    margin: 10px auto;
    font-size: .85rem;
    background: rgba(90, 90, 90, .2);
    border-radius: 5px;
    padding: 5px;
}

.log-col {
    display: inline-block;
    vertical-align: top;
}

.type {
    width: 16%;

}

.readings {
    width: 39%;
    vertical-align: top;
}

.readings span {
    width: 100%;
    display: block;
    vertical-align: top;
}

.date-time {
    width: 39%;
    vertical-align: top;
    text-align: left;
}

.date-time span {
    width: 100%;
    display: block;
    vertical-align: top;
}

#log-sort-options span, p{
    display: inline-block;
}

#log-sort-options span:hover{
    cursor: pointer;
    color: aquamarine;
}

#log-options span, p {
    display: inline-block;
}

#log-options span:hover {
    cursor: pointer;
    color: aquamarine;
}

.info-button {
    font-family: Abril Fatface, sans-serif;
    width: 35px;
    height: 35px;
    text-align: center;
    padding: 5px 0;
    font-size: 20px;
    line-height: 1.428571429;
    border-radius: 20px;
    color: black;
    background-color: rgba(255, 255, 255, .9);
    margin-left: 3%;
}

.info-button:hover {
    background-color:  rgba(255, 255, 255, .2);
    color: white;
    cursor: pointer;
}

#iob-info p {
    color: white;
    width: 90%;
    margin: 0 auto;
    text-align: left;
    padding-left: 10%;
}


#iob-info p::after {
    margin-bottom: 1rem;
}