/*Settings*/
#settings {
    width: 100%;
    min-height: 65vh;
    max-width: 1400px;
    margin: 0  auto;
    background-color: hsla(0,0%,100%,.2);
}

#settings h1 {
    line-height: 2.7rem;
    padding-top: 3%;
}

#settings .home-button {
    margin-bottom: 2%;
    background: none;
    background-color: white;
    color: navy;
}

.settings-div {
    width: 85%;
    padding: 5% 0;
    display: inline-block;
    vertical-align: top;
    border-bottom:  white 1px solid;
}

.col-2 .bottom {
    border-bottom:  none;
}

.settings-div h4 {
    display: block;
}

.form-div {
    width: 75%;
    margin: 0 auto;
}

.setting-button {
    background-color: white;
    border-radius: 5px;
    position: relative;
}

#bolus-trigger:hover #bolus {
visibility: visible;
}

@media only screen and (min-width: 640px) {
    /* .settings-div {
        width: 46%;
        border: none;
    }
    .col-1 {
        border-right: white 1px solid;
    }
    .top,  .middle {
        border-bottom:  white 1px solid;
    } */
}


/*ipad potrait*/

@media only screen and (min-width: 768px) {


}


/*ipad lanscape / small laptop*/

@media only screen and (min-width: 1024px) {


}