/*Settings*/
#settings {
    width: 100%;
    min-height: 65vh;
    max-width: 1400px;
    margin: 0  auto;
    background-color: hsla(0,0%,100%,.2);
    color: white;
}

#settings h1 {
    line-height: 2.7rem;
    padding-top: 3%;
}
#settings p {
    margin: 5px 0;
    font-size: 1.1rem;
}
#settings .home-button {
    margin-bottom: 1%;
    background: none;
    background-color: white;
    color: navy;
}

.settings-div {
    width: 85%;
    padding: 5% 0;
    display: block;
    vertical-align: top;
    border-bottom:  white 1px solid;
    margin: 0 auto;
}

.col-2 .bottom {
    border-bottom:  none;
}

.settings-div h4 {
    display: block;
}

.form-div {
    width: 75%;
    margin: 0 auto;
}

.setting-button {
    background-color: white;
    border-radius: 5px;
    position: relative;
}

#bolus-trigger:hover #bolus {
    visibility: visible;
}
.settings-forms input {
    width: 45%;
    text-align: center;
}

.settings-forms input, .metric {
    display: inline-block;
}
.form-div form {
    padding: 0 0;
}

/* Toggle Information */
.settings-div h4 {
    line-height: 1.2rem;
    text-decoration: underline dotted black;
}


#carb-ratio-trigger:hover #carb-ratio-info {
    visibility: visible;
}

@media only screen and (min-width: 640px) {
    .settings-div {
        width: 45%;
        padding: 2% 0;
    }
    /* .settings-div {
        width: 40%;
        height: 100%;
    }
    .col-1 {
        margin-right: 1%;
    }
    .col-2 {
        margin-left: 1%;
    }
    #row-1, #row-2, #row-3 {
        width: 100%;
    } */
}


/*ipad potrait*/

@media only screen and (min-width: 768px) {


}


/*ipad lanscape / small laptop*/

@media only screen and (min-width: 1024px) {


}